
{% extends 'base/base.html' %}


{% block content %}


      <div class="row">
        <div class="col-lg-12">
          <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-6 d-flex align-items-center">
                  <h6 class="mb-0">Invoices</h6>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-outline-primary btn-sm mb-0">View All</button>
                </div>
              </div>
            </div>
            <div class="card-body p-3 pb-0">
              <ul class="list-group">
                {% for bills in bill_list %}
                <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark font-weight-bold text-sm">{{bills.billing_date}}</h6>
                    <span class="text-xs">#{{bills.bill_no}}</span>
                  </div>
                  <div class="d-flex align-item-center">
                    <p>{{bills.items_in_bill}}</p>
                  </div>
                  <div class="d-flex align-items-center text-sm">
                    Rs {{bills.total_item_price}}
                    <a href="{% url 'pdf_generator' bills.bill_no %}">
                        <button class="btn btn-link text-dark text-sm mb-0 px-0 ms-4"><i class="material-icons text-lg position-relative me-1">
                            picture_as_pdf</i> PDF
                        </button>
                    </a>
                   </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-4">
          <div class="card">
            <div class="card-header pb-0 px-3">
              <h6 class="mb-0">Billing Information</h6>
            </div>
            <div class="card-body pt-4 p-3">
              <ul class="list-group">
                {% for bills in bill_list %}
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                  <div class="d-flex flex-column">
                    <h6 class="mb-3 text-sm">{{bills.customer_detail}}</h6>
                    <span class="mb-2 text-xs">Company Name: <span class="text-dark font-weight-bold ms-sm-2">{{bills.customer_detail}}</span></span>
                    <span class="mb-2 text-xs">Phone Nuber: <span class="text-dark ms-sm-2 font-weight-bold">{{bills.customer_contact}}</span></span>
                    <span class="text-xs">Bill Number: <span class="text-dark ms-sm-2 font-weight-bold">{{bills.bill_no}}</span></span>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">delete</i>Delete</a>
                    <a class="btn btn-link text-dark px-3 mb-0" href="javascript:;"><i class="material-icons text-sm me-2">edit</i>Edit</a>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
  